<!DOCTYPE html>
<html>
<head>
  <title>The Great Idea Site | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
    
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
         <div class="alert alert-<%= key %>"><%= value %></div>
      <%end%>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
<<<<<<< HEAD
    </div>
    <%= csrf_meta_tags %>
</body>
=======
   </div>
  </body>
>>>>>>> 01efd8ac1e2d2ae1650c6c479121023648d2c0f3
</html>

